.homepage {
    border: 12px solid black;
}

.header {
    border: 2px solid red;
}

.body {
    border: 2px solid blue;
    padding: 10px;
    margin-top: 10px;
}

.footer {
    border: 2px solid green;
    margin-top: 10px;
}

.picture {
    border: 2px solid orangered;
    height: 100px;
    margin-bottom: 3px;
    
}

.soloGame {
    border: 2px solid rgb(214, 101, 214);
    margin: 4px;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.games {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 5px solid gold;
    display: flex;
    flex-wrap: wrap;
}
a :hover {
    opacity: .65;
}